@{
    ViewBag.Title = "Create";
}

<h2>Create Customer</h2>
<form action="/Customer/Create" method="post">
    <div>
        <label>Customer Name:</label>
        <input type="text" name="CustomerName" />
    </div>

    <div>
        <label>Customer Phone:</label>
        <input type="text" name="CustomerPhone" />
    </div>

    <div>
        <input type="submit" value="Add Customer" />
    </div>

</form>

