@{
    ViewBag.Title = "Create";
}

<h2>Create Tool</h2>
<form action="/Tool/Create" method="post">
    <div>
        <label>Tool Name:</label>
        <input type="text" name="ToolName" />
    </div>

    <div>
        <input type="submit" value="Add Tool" />
    </div>

</form>

